# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
*/.env

# VSCode
.vscode

# JetBrains
.idea

# Data
pgdata

# Frontend
frontend/node_modules/*
*/public/build/
*.DS_Store