# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
# TODO: find a better solution than .env to store our secrets
# an option would be to use docker-compose environments
# */.env

# VSCode
.vscode

*yarn-error.log

# JetBrains
.idea

# Data
pgdata
providers_txt

# Frontend
*.DS_Store
**/node_modules/
**/.history
src/tmp/
assets/build
.vercel
/build
/.svelte-kit
/package

.env
frontend/.env
frontend/build
frontend/.svelte-kit
/letsencrypt
*/json.gz_dumps
*/tmp
