# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
backend/.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode

# JetBrains
.idea

# Node
node_modules