ci:
  autoupdate_schedule: monthly # weekly(default), monthly, quarterly

default_language_version:
  python: python3.11

exclude: '^.*swagger\.json$'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        args: [--max-line-length=88, "--ignore=E203,W503"]

  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.9.0
    hooks:
      - id: reorder-python-imports

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.4
    hooks:
      - id: prettier
        args: [--write, --no-semi, --print-width=88, --arrow-parens=avoid]
        additional_dependencies:
          - prettier@2.5.1
          - prettier-plugin-svelte@v2.6.0
          - svelte@v3.46.2

  - repo: https://github.com/muya/swaggo-hooks
    rev: "main"
    hooks:
      - id: swag-fmt
      - id: swag-init
        args:
          - --dir=./go_backend
          - --output=./go_backend/docs
