name: E2E

# Events that trigger the workflow
on: push

jobs:
  frontend-build-and-test:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout
      - uses: actions/checkout@v2
      - name: Run build
        run: |
          cd frontend/
          touch .env
          variables="VITE_API_PATH=http://api.localhost
          PUBLIC_ENV=test"
          echo "$variables" > .env
          bun install
          npx playwright install
          bun test
